extends ./lay

block info
    title Editing profile - Identificator
    meta(name="description" content="A page to edit your Identificator profile.")

block content
    if (user == undefined)
        h1 You must be logged in to Identificator to use this.
    else
        h1 Edit your Identificator profile
        form(action="" method="post" enctype="multipart/form-data")
            label Profile name:
            input.form-control#name(type="text" name="name" value=user.name maxlength=16)
            label Website:
            input.form-control#name(type="text" name="website" value=user.website maxlength=200)
            br
            label(style="margin-right:1em") Avatar:
            input.form-control-file.border.rounded(type="file" name="avatar")
            p The image you upload will be resized to a 256*256 image. The file must not exceed 1MB. Supported image types: bmp, gif, jpg, png, tiff. Animated images are not allowed.
            br
            p 
                | By clicking submit, you acknowledge that ALL the info you provide here will be available to ANY person or app immediately.
                br
                | Don't include any sensitive info. Every field here is optional.
                br
                | Due to caching, your info may take a while to update.
            button.btn.btn-lg.btn-primary(type="submit") Submit