extends ./lay

block info
    title Examples - Identificator
    meta(name="description" content="Example code for logging in with identificator.")
    style.
        .snippetExpandButton {
            width: 100%
        }

block content
    h1 Code examples
    p Quickly implement Identificator login with these code snippets.
    button.snippetExpandButton.btn.btn-primary(type="button" data-toggle="collapse" data-target="#php" aria-controls="php" aria-expanded="false") PHP
    .collapse#php
        script(src="https://gist.github.com/975miles/943a0050bf323b2a6c4d2219dabfda22.js")
    br
    button.snippetExpandButton.btn.btn-primary(type="button" data-toggle="collapse" data-target="#express" aria-controls="express" aria-expanded="false") Node.js (express)
    .collapse#express
        |idk lol
        