extends ./lay

block info
    title Identificator
    meta(name="description" content="A service to implement login to and app quickly.")

block content
    h1.display-4 Identificator
    p Identificator is a service for developers (mostly me) to add authentication to a project quickly without creating a client id and secret for OAuth.