extends ./lay

block info
    title Identificator
    meta(name="description" content="A service to implement login to and app quickly.")

block content
    h1.display-4 Identificator
    p Identificator is a service for developers (mostly me) to add authentication to a project quickly without creating a client id and secret for OAuth.
    p I

    h2#guidelines Guidelines
    p If a user is already logged in to Identificator, and they click an Identificator login button in an external app, it'll immediately log them into that app or create an account for them. This might leave users confused as to how the app has gotten their name. So, make sure it's obvious when using a login button that it's going to use Identificator. The button should say "Login with Identificator" or something similar instead of just "Login".