extends ./lay

block info
    title Identificator - Login
    meta(name="description" content="Login page for Identificator")

block content
    div(style="text-align: center;")
        h1 Login with Identificator
        hr
        h3 Login with any of the following:
        each i in enabledAuthProviders
            a.btn.btn-outline-dark(href=`/auth/${i}` height=60)
                img(src=`/i/auth-images/${i}.png` height=46)
            br