extends ./lay

block info
    title Identificator - Login
    meta(name="description" content="Login page for Identificator")

block content
    div(style="text-align: center;")
        h1 Login with Identificator
        hr
        h3 Login with any of the following:
        -
            const imageDir = "/i/auth-images";
            const authImages = {
                discord: 'https://discordapp.com/assets/fc0b01fe10a0b8c602fb0106d8189d9b.png',
                google: 'https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png',
                wordpress: 'https://s.w.org/style/images/about/WordPress-logotype-standard.png',
                reddit: imageDir+"/reddit.png",
                github: 'https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png',
                gitlab: 'https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-rgb.png',
                facebook: 'https://scontent.flhr3-1.fna.fbcdn.net/v/t39.2365-6/17639236_1785253958471956_282550797298827264_n.png?_nc_cat=105&_nc_sid=ad8a9d&_nc_ohc=RHl69GirtDYAX_8vx_Z&_nc_ht=scontent.flhr3-1.fna&oh=7b16784ddb012103756196a4baef5df3&oe=5F027D16',
                steam: 'https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png',
                yandex: 'https://avatars.mds.yandex.net/get-bunker/50064/9c8dea8c94b9bea5ef1677932c8272cbfca4995a/orig',
            };
        each i in enabledAuthProviders
            a.btn.btn-outline-dark(href=`/auth/${i}` height=60)
                img(src=authImages[i] height=46)
            br