extends ./lay

block info
    title Identificator - Login with password
    meta(name="description" content="Login page for Identificator")

block content
    h1 #[span#title] with Identificator ID
    button.btn.btn-secondary.btn-sm(onclick="switchMode()") #[span#method] instead?
    div
        label#with
        input.form-control(type="text" name="username")
        label Password
        input.form-control(type="password" name="password")
        button.btn.btn-primary.btn-lg#login(onclick="submit()") Login
        p.text-danger#error

block js
    script.
        var newID = !{JSON.stringify(newID)};
    script(src="/js/login-password.js")